.mwl-content-supplier
  .mwl-content-image
    margin-bottom: $space

    @include bp(md)
      margin: 0 $space 0 0

  .mwl-content-main
    margin-top: $space/2
    width: 100% 

    @include bp(md)
      margin-top: $space/4
      text-align: left

    @include bp(lg)
      margin-top: $space/2

  .mwl-content-title
    font-family: $font-heading
    margin: $space 0 $space/2