$font-primary: dejavu_sansextralight, sans-serif
$font-heading: "Berlin Sans FB", sans-serif
$font-heading-bold: "Berlin Sans FB Bold", sans-serif

$color-white: #fdf9f6

$max-page-width: 90em // 1440px

// Breakpoints
$bp-xs: 30em // 480px
$bp-sm: 33.75em // 540px
$bp-md: 48em // 768px
$bp-lg: 63em // 1008px
$bp-xl: 73.125em // 1200px